<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">


<!--configuration核心配置文件-->
<configuration>
    <!--加载外部配置文件-->
    <properties resource="db.properties">
        <property name="username" value="root"/>
    </properties>
    
    
    <settings>
        <!--标准的日志工厂的实现-->
        <!--<setting name="logImpl" value="STDOUT_LOGGING"/>-->
        <setting name="logImpl" value="LOG4J"/>

        <!--是否开启驼峰命名自动映射，即从经典数据库列名 A_COLUMN 映射到经典 Java 属性名 aColumn。-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>

        <!--显示的开启全局缓存，默认值为true-->
        <setting name="cacheEnabled" value="true"/>
    </settings>

    <!--设置别名-->
    <!--<typeAlias type="com.codefish.pojo.User" alias="User"/>-->
    <typeAliases>
        <package name="com.codefish.pojo"/>
    </typeAliases>

    <environments default="development"> <!--默认是开发环境，可以有多个环境，如test测试环境-->
        <environment id="development">
            <transactionManager type="JDBC"/><!--事务管理-->
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>

    <!--每一个Mapper.xml都需要再Mybatis核心配置文件中注册-->
    <mappers>
        <!--使用xml方式：（推荐）-->
        <mapper resource="com/codefish/dao/UserMapper.xml"/>
        <mapper resource="com/codefish/dao/BlogMapper.xml"/>

        <!--使用class文件绑定注册-->
        <!--<mapper class="com.codefish.dao.UserMapper"/>-->
        <!--包扫描方式-->
       <!--  <package name="com.codefish.dao"/>-->


        <mapper resource="com/codefish/dao/TeacherMapper.xml"/>
        <mapper resource="com/codefish/dao/StudentMapper.xml"/>

    </mappers>

</configuration>